@inherits System.Web.Mvc.WebViewPage

@{
    dynamic _model = (Model as dynamic);
}

<h1>Hello world!</h1>
<p>
    The passed id is: @_model.id
</p>
<p>
    The passed id2 with default values is: @_model.id2
</p>