@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization

<!DOCTYPE html>
<html lang="de">
<head>
    <title>IronPython AspNet mvc</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
</body>
</html>
